@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger,  color: "#333333";>Only an admin can access this page.</h1>


<div>
    @Html.ActionLink("Back", "Create")
</div>
