
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projeto Final de Curso</h1>
    <p class="lead">Projeto realizado no âmbito de Projeto e Seminário, do curso de licenciatura em Engenharia eletrónica e Telecomunicações e de Computadores</p>
    <p><a href="https://isel.pt/cursos/licenciaturas/engenharia-electronica-e-telecomunicacoes-e-de-computadores" class="btn btn-primary btn-lg">Saber mais</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mini CRM</h2>
        <p>
            CRM de baixa complexidade com o objetivo de ajudar pequenas e médias empresas a crescer numa fase embrionária.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Realizado pelo aluno:</h2> <h4 class="fw-bold"><strong>Nº42090, Miguel Malha</strong></h4>
        <p>Com o apoio de: Eng. Diogo Cardoso e Eng. Pedro Miguens.</p>
    </div>
    <div class="col-md-4">
        <h2>Sobre mim</h2>
        <p>Saiba mais sobre mim através da minha página do LinkedIn.</p>
        <p><a class="btn btn-default" href="https://linkedin.com/in/miguelmalha">Pesquisar</a></p>
    </div>
</div>
